%h1 Listing customers

%table
  %thead
    %tr
      %th Customer
      %th Email
      %th
      %th
      %th

  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.customer_id
        %td= customer.email
        %td= link_to 'Show', customer
        %td= link_to 'Edit', edit_customer_path(customer)
        %td= link_to 'Destroy', customer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Customer', new_customer_path
