%h1 Listing Customers

%table.table
  %thead
    %tr
      %th ID
      %th Email
      %th Swipe Customer ID
      %th
      %th
      %th

  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.id
        %td= customer.email
        %td= customer.customer_id
        %td= link_to 'Show', customer
        %td= link_to 'Edit', edit_customer_path(customer)
        %td= link_to 'Destroy', customer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Customer', new_customer_path, class: "btn btn-primary"
