%p#notice= notice

%p
  %b Billing name:
  = @billing_address.billing_name
%p
  %b Address 1:
  = @billing_address.address_1
%p
  %b City:
  = @billing_address.city
%p
  %b State:
  = @billing_address.state
%p
  %b Zip:
  = @billing_address.zip
%p
  %b Sale:
  = @billing_address.sale_id

= link_to 'Edit', edit_billing_address_path(@billing_address)
\|
= link_to 'Back', billing_addresses_path
