%h1 Listing Rental Locations

%table.table
  %thead
    %tr
      %th ID
      %th Sale ID
      %th First name
      %th Last name
      %th Phone
      %th Address 1
      %th Address 2
      %th City
      %th State
      %th Zip
      %th
      %th
      %th

  %tbody
    - @rental_locations.each do |rental_location|
      %tr
        %td= rental_location.id
        %td= link_to rental_location.sale_id, sale_path(rental_location.sale_id)
        %td= rental_location.first_name
        %td= rental_location.last_name
        %td= rental_location.phone
        %td= rental_location.address_1
        %td= rental_location.address_2
        %td= rental_location.city
        %td= rental_location.state
        %td= rental_location.zip
        %td= link_to 'Show', rental_location
        %td= link_to 'Edit', edit_rental_location_path(rental_location)
        %td= link_to 'Destroy', rental_location, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Rental location', new_rental_location_path
