=stylesheet_link_tag "simple_calendar"
=javascript_include_tag "calendar"
%p#notice= notice

.row
  .col-md-12
    .panel.panel-default
      .panel-body
        - if @line_item && @line_item.errors.any?
          #error_explanation.alert-danger
            .panel-body
              %h2= "#{pluralize(@line_item.errors.count, "error")} prohibited this line item from being saved:"
              %ul
                - @line_item.errors.full_messages.each do |msg|
                  %li= msg
        - if @rental && @rental.errors.any?
          #error_explanation.alert-danger
            .panel-body
              %h2= "#{pluralize(@rental.errors.count, "error")} prohibited this rental from being saved:"
              %ul
                - @rental.errors.full_messages.each do |msg|
                  %li= msg
        .row
          .col-sm-6
            .page-header
              %h1 #{@product.name} <small>#{number_to_currency @product.price}</small>
            %p.lead
              = @product.size
            %p.lead
              = @product.description
          .col-sm-6
            .product-image.pull-right
              = image_tag @product.photo.url, class: "img-responsive"

        %hr
        .row
          .col-sm-10.col-sm-offset-1
            = month_calendar(events: @rentals, attribute: :start_date) do |date, rentals|
              -if rentals.empty?
                %button.btn.btn-default.btn-block{onclick: "window.Calendar.setRentalDate({day: #{date.day}, month: #{date.month}, year: #{date.year}})"}= date.day
              -else
                = date.day
                %br
                -rentals.each do |rental|
                  Not Available

            =form_for LineItem.new do |f|
              =f.hidden_field :product_id, value: @product.id
              =date_select("rental", "start_date", start_year: Date.today.year, order: [:day, :month, :year])
              %br
              %br
              =submit_tag "Reserve", class: "btn btn-success"
