= form_for @sale do |f|
  - if @sale.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sale.errors.count, "error")} prohibited this sale from being saved:"
      %ul
        - @sale.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :subtotal
    = f.text_field :subtotal
  .field
    = f.label :tax
    = f.text_field :tax
  .field
    = f.label :total
    = f.text_field :total
  .actions
    = f.submit 'Save'
