!!! 5
%html
%head
  %title Empire Events
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body

%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %a.navbar-brand{href: root_path} Empire Events

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: public_products_path} Inflatables
        %li
          -if request.fullpath == root_path
            %a{href: "#about_us"} About Us
          -else
            %a{href: root_path} About Us
        %li
          -if request.fullpath == root_path
            %a{href: "#contact_us"} Contact Us
          -else
            %a{href: root_path} Contact Us
        %li
          %a.btn.btn-default{href: cart_path}
            %span.glyphicon.glyphicon-shopping-cart
            %span.badge=current_sale.line_items.count
      %ul.nav.navbar-nav.navbar-left
        -if user_signed_in?
          %li
            %a{href: admin_dashboard_index_path} #{current_user.email}

.row
  .col-md-10.col-md-offset-1
    = yield
