!!! 5
%html
%head
  %title Empire Events
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = favicon_link_tag       'favicon.ico'
  = csrf_meta_tags
  %link{href: 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700', rel:'stylesheet', type:'text/css'}

%body

%nav.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    .navbar-header
      %button{type: "button", class: "navbar-toggle collapsed", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1", "aria-expanded" => "false"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_path}
        =image_tag "empire_logo.png", alt: "Empire Events", class: "navbar-logo"

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: public_products_path} Inflatables
        %li
          %a{href: new_fundraising_request_path} Fundraising
        %li
          %a{href: "/#about_us"} About Us
        %li
          %a{href: "/#contact_us"} Contact Us
        %li
          %a.btn.cart{href: cart_path, class: current_sale.line_items.count > 0 ? "btn-success" : "btn-default"}
            %span.glyphicon.glyphicon-shopping-cart
            %span.badge=current_sale.line_items.count
      %ul.nav.navbar-nav.navbar-left
        -if user_signed_in?
          %li
            %a{href: admin_dashboard_index_path} #{current_user.email}

#content-row
  = yield

%br

%nav.navbar.navbar-default.navbar-fixed-bottom.footer
  .container-fluid
    .panel-body
      .text-center
        =link_to "Terms & Conditions", terms_and_conditions_path
        |
        =link_to "Privacy Policy", privacy_policy_path
