!!! 5
%html
%head
  %title Empire Events
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body

%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %a.navbar-brand{href: root_path} Empire Events

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: public_products_path} Inflatables
        %li
          %a{href: "/#about_us"} About Us
        %li
          %a{href: "/#contact_us"} Contact Us
        %li
          %a.btn.cart{href: cart_path, class: current_sale.line_items.count > 0 ? "btn-success" : "btn-default"}
            %span.glyphicon.glyphicon-shopping-cart
            %span.badge=current_sale.line_items.count
      %ul.nav.navbar-nav.navbar-left
        -if user_signed_in?
          %li
            %a{href: admin_dashboard_index_path} #{current_user.email}

.row
  .col-md-10.col-md-offset-1
    = yield
